<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="WikkiTest" verbose="1" >
    <test name="NavigateSiteTest" >
        <classes>
            <class name="assertion.NavigateSiteTest" />
        </classes>
    </test>

    <test name="OpenOnSiteTest">
        <classes>
            <class name="assertion.OperationOnSiteTest"/>
        </classes>
    </test>
    <test name="ChangeSiteTest" >
        <classes>
            <class name="assertion.changeSiteTest" />
        </classes>
    </test>
</suite>
